##########################
# General
##########################
*.log
*.env
.env.*
!.env.example
.DS_Store
Thumbs.db
*.swp
*.swo

##########################
# Python / Django
##########################
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.db
*.sqlite3
*.pot
*.mo
*.egg-info/
local_settings.py
.venv/
venv/
env/
db.sqlite3
media/
staticfiles/
coverage/
htmlcov/
.pytest_cache/
test-results/

##########################
# Node.js / React
##########################
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
build/
dist/
.cache/
.vite/

##########################
# IDEs / OS
##########################
.vscode/
.idea/
*.code-workspace
*.iml
*.sublime-workspace
*.sublime-project